.App {
  text-align: center;
}

.App-logo {
  color: #fff;
  float: left;
  padding-right: 8px;
  padding-top: 21px;
}

.App-header {
  background-color: #222;
  padding-left: 24px;
  color: white;
}

.App-title {
  color: #fff;
  float: left;
  font-size: 1.5em;
}

.App-header:after {
    content: ' ';
    display: block;
    clear: both;
}

.App-intro {
  font-size: large;
}
