/* Table */
.Users,
.Computers {
	position:relative;
}
.table {
  background: #fff;
  border-radius: 4px;
  border-spacing: 0;
  border-collapse: separate;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	margin-left: auto;
	margin-right: auto;
  margin-top: 16px;
  width: 96%;
}

/* Header */
.Table-results--head {
  background: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-size: 23px;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

.Table-results--header-row {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.Table-results--header-cell {
  	color: #D5DDE5;
  	font-weight: 100;
  	letter-spacing: .06em;
  	padding-bottom: 8px;
  	padding-top: 8px;
}


.Table-results--header-cell:first-child {
	border-top-left-radius: 4px;
}

.Table-results--header-cell:last-child {
	border-top-right-radius: 4px;
}

.Table-results--head:first-child {
	border-left: none;
}

.Table-results--head:last-child {
  	border-right: none;
}

/* Rows */
.Table-results--row {
	border-top: 1px solid #C1C3D1;
	border-bottom: 1px solid #C1C3D1;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.Table-results--row:first-child {
	border-top: none;
}

.Table-results--row:last-child {
	border-bottom: none;
}

.Table-results--row:nth-child(odd) .Table-results--cell {
	background-color: #EBEBEB;
}

.Table-results--row:nth-child(odd):hover .Table-results--cell {
	background-color: #4E5066;
}

.Table-results--row:nth-child(odd):hover .Table-results--cell-link,
.Table-results--row:hover .Table-results--cell-link {
	color: #FFFFFF;
}

.Table-results--row:hover .Table-results--cell {
	background-color: #4E5066;
}

/* Cells */
.Table-results--cell {
	background:#FFFFFF;
	border-bottom: 1px solid #C1C3D1;
	border-right: 1px solid #C1C3D1;
	font-weight:300;
	font-size:18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	transition: color ease 150ms, background ease 150ms;
	vertical-align: middle;
}

.Table-results--cell:first-child {
  border-left: 0;
}

.Table-results--cell:last-child {
  border-right: 0;
}


.Table-results--cell,
.Table-results--header-cell,
.Table-results--header-row .Table-results--cell__languages {
	text-align: center;
}

.Table-results--cell-link {
	color: #666B85;
	cursor: pointer;
	display: inline-block;
	padding:10px;
	text-decoration: none;
	width: 100%;
}

.Table-results--cell__languages {
	text-align: left;
}

.Table-results--cell__alphaCode2,
.Table-results--cell__alphaCode3 {
	width: 72px;
}

.Table-results--cell__flag {
	max-width: 250px;
	padding: 0;
}

.Table-results--image {
	vertical-align: middle;
	width: 100%;
}

